@import '../ConstantsAndMixins.scss';

.projects-section {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;

    .project {
        height: 33%;
        flex: 1;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            max-height: 100%;
        }

        &.korio {
            background-color: black;

            a, .subtitle {
                color: white;
                font-family: 'Amazonas';
            }
        }

        &.piqr {
            background-color: white;

            a, .subtitle {
                color: black;
                font-family: 'Timeburner';
            }
        }

        &.whats-your-list {
            background: radial-gradient(#9B0404, black);

            a, .subtitle {
                color: white;
                font-family: 'NunitoBlack';
            }
        }

        a {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 0.25rem;
            padding: 0.5rem 1rem;
            border-radius: 10px;

            &:hover {
                background-color: gray;
            }
        }

        .left, .right {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}