@import './ConstantsAndMixins.scss';

@font-face {
    font-family: 'Amazonas';
    src: local('Amazonas-Centered'), url(./Resources/Fonts/Amazonas/amazonas-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: local('Montserrat'), url(./Resources/Fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./Resources/Fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Timeburner';
    src: local('Timeburner'), url(./Resources/Fonts/Timeburner/timeburnernormal.ttf) format('truetype');
}

@font-face {
    font-family: 'Timeburner';
    src: local('Timeburner'), url(./Resources/Fonts/Timeburner/timeburnerbold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'NunitoBlack';
    src: local('Nunito'), url(./Resources/Fonts/Nunito/Nunito-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: local('Bebas-Neue'), url(./Resources/Fonts/Bebas-Neue/BebasNeue-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    background-color: black;

    div, input, textarea {
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
    }

    .overlay {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app-container {
        position: relative;
        height: 100%;
        width: 100%;

        > *:not(.nav-bar):not(.landing-section) {
            padding-top: $nav-bar-height;
        }
    }
}