$nav-bar-height: 50px;

@mixin fadeIn() {
    -webkit-animation: fadeKeyframes 1s ease-in-out;
    -moz-animation: fadeKeyframes 1s ease-in-out;
    animation: fadeKeyframes 1s ease-in-out;  

    @include keyframes(fadeKeyframes) {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@mixin keyframes( $animationName ) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

$small-screen-min: 300px;
$small-screen-max: 700px;
$medium-screen-max: 1000px;

@mixin smallScreen {
    @media screen and (max-width: $small-screen-max) { @content; }
}

@mixin mediumScreen {
    @media screen and (max-width: $medium-screen-max) and (min-width: $small-screen-max + 1px) { @content; }
}

@mixin largeScreen {
    @media screen and (min-width: $medium-screen-max + 1px) { @content; }
}