@import '../ConstantsAndMixins.scss';

.profile-section {
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @include smallScreen {
        flex-direction: column;
    }

    img.me {
        height: $small-screen-min;
        width: $small-screen-min;
        box-sizing: border-box;
        padding: 1rem;
        border: solid 1px black;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 5rem;

        @include smallScreen {
            margin-left: 0;
            margin-top: 2rem;
        }
    }

    .text-section {
        width: $small-screen-min;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 0;
        }

        > div {
            margin-top: 1rem;
        }
    }
}