@import '../ConstantsAndMixins.scss';

.contact-section {
    height: 100%;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-form {
        display: flex;
        flex-direction: column;

        .top-row {
            display: flex;
            margin-bottom: 1rem;
            
            input {
                width: calc(50% - 0.5rem);
            }
            
            .name-input {
                margin-right: 1rem;
            }
        }

        input, textarea {
            padding: 0.5rem;
            font-size: 20px;
            border-radius: 5px;
            border: solid 2px black;
        }

        textarea {
            resize: none;
        }

        .button-container {
            width: 100%;
            text-align: center;

            .send-button {
                margin-top: 1rem;
                width: 50%;
                cursor: pointer;
                background-color: black;
                color: white;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }

    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img, svg {
            height: 100px;
            width: 100px;
            margin-bottom: 0.5rem;
        }
    }
}